html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
* {
    margin: 0px;
    padding: 0px;
  }
#navbar{
  position: fixed;
}
   
  nav ul {
    display: block;
    width: 100%;
    background-color: #e0ebe8;
    height: 80px;
    position: fixed;
    text-align: right;
  }
  nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px 55px 10px 55px ;
    padding: 10px;
    text-decoration: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #008080;
  }
  .intro{
    background-color: #e0ebe8;
    padding-top: 45vh; 
    min-height: 55vh;
    text-align: center;
  }
  .project{
    text-align: center;
    display: block;
    color: #008080;
    overflow: hidden;
    border: 2px solid lightblue;
    text-decoration: none;
  }
  .project-tile{
    display: inline-block;
    width: 280px;
    height: 220px; 
    border: 2px solid lightblue;
    margin: 40px 100px;
  }
  .project-pic{
    height: 180px;
    width: 100%;
    border-bottom: 2px solid lightblue;
  }
  .project-link{
    text-decoration: none;
    color: #008080;
    font-weight: bold;
  }
  figcaption{
    margin-top: 5px; 
  }
  .show-all{
    display: block;
    text-decoration: none;
    margin: 20px auto 90px; 
    padding-top: 10px;
    height: 30px; 
    width: 200px;
    background-color: #e0ebe8;
    color:#008080;
    border: 2px solid #90c695;
    border-radius: 4px; 
  }
  .contacts{
    background-color: #c8f7c5;
    padding-bottom: 160px;
  }
  .contact-header{
    padding: 160px 0 110px; 
  }
  .contacts-details{
    display: inline-block;
    text-decoration: none;
    color: #008080;
    background-color: #e0ebe8;
    border: 2px solid #90c695;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    margin: 0px 35px 45px;
  }
footer{
  background-color: #22313F;
  color: white; 
  padding: 20px; 
  line-height: 40px;  
}
footer a{
  color: white; 
}
@media (max widht:367px) {
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}